<h1>ログイン</h1>
     <%= form_with(url: sign_in_path, scope: :session, local: true) do |f| %>
      <% if flash[:alert].present? %>
        <ul>
        <% flash[:alert].each do |massage| %>
          <li><%= massage %></li>
        <% end %>
        </ul>
      <% end %>

      <%= f.label :user_id, "ユーザーID"%>
      <%= f.text_field :user_id %>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.submit "ログインする" %>
    <% end %>
